input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-ms-clear {
    display: none;
}

form hr {
    margin: 1rem 0;
    color: var(--tinp-border);
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.5;
}

.form-control,
.form-select {
    background-color: var(--input-bg) !important;
}

.form-div .body-head h4 {
    color: var(--primary);
    font-weight: var(--fw-lg);
    margin-bottom: 5px !important;
}

.alert,
.alert-success {
    padding: 10px 5px !important;
    margin-bottom: 5px !important;
    font-size: 12px;
}

.alert ul,
.alert-success ul {
    margin-bottom: 0px !important;
    padding-left: 10px !important;
}

.alert ul li,
.alert-success ul li {
    font-size: 12px;
}

/* File Upload */
.custom-file-upload {
    /* height: 200px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custom-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .icon svg,
.custom-file-upload .icon img {
    /* height: 40px; */
    fill: var(--main) !important;
}

.custom-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .text span {
    font-size: 13px;
    font-weight: var(--fw-sm);
    color: var(--label);
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-file-upload input {
    display: none;
}

@media screen and (min-width: 1140px) {

    .form-div {
        padding: 15px;
        border-radius: 5px;
        background-color: var(--secondary);
        border: 1px solid #eee;
        border-radius: 5px;
        /* box-shadow: var(--box-shadow); */
    }

    .form-div .row label {
        color: var(--label);
        font-size: 14px;
        font-weight: var(--fw-md);
        margin-bottom: 5px;
    }

    .form-div .row input,
    .form-div .row select,
    .form-div .row textarea,
    .form-div .row .checkdrp {
        border: 1px solid var(--input-border);
        color: var(--primary);
        font-size: 14px;
        font-weight: var(--fw-md);
    }

    .form-div .row small {
        font-size: 12px;
        margin-top: 5px;
    }

    .form-div .row select option {
        font-weight: var(--fw-lg);
    }

    .tble-dpd .checkdrp {
        font-size: 13px !important;
        padding: 5px !important;
    }

    .form-div .row .dropdown-menu,
    .tble-dpd .dropdown-menu {
        color: var(--primary);
        border: 1px solid var(--input-border);
    }

    .dropdown-menu label {
        font-size: 10px !important;
        font-weight: 500 !important;
        color: var(--main) !important;
    }

    .inpflex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--input-border);
        border-radius: 0.375rem;
    }

    .inpflex input {
        width: 89%;
        border-right: 1px solid var(--input-border) !important;
        border-radius: 0.375rem 0px 0px 0.375rem;
    }

    .inpflex i {
        width: 11%;
        text-align: center;
    }

    .inpflex select {
        width: 11%;
        text-align: left;
        background-color: var(--secondary) !important;
        font-size: 10px !important;
        padding: 2px 2px 2px 8px;
    }

    .inputs p {
        margin-top: 5px;
        margin-bottom: 0px !important;
        font-size: 12px;
        color: var(--primary);
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    .form-div {
        padding: 10px;
        border-radius: 5px;
        background-color: var(--secondary);
        border: 1px solid #eee;
        border-radius: 5px;
        /* box-shadow: var(--box-shadow); */
    }

    .form-div .row label {
        color: var(--label);
        font-size: 13px;
        font-weight: var(--fw-lg);
        margin-bottom: 5px;
    }

    .form-div .row input,
    .form-div .row select,
    .form-div .row textarea,
    .form-div .row .checkdrp {
        border: 1px solid var(--input-border);
        color: var(--primary);
        font-size: 13px;
        font-weight: var(--fw-md);
    }

    .form-div .row small {
        font-size: 11px;
        margin-top: 5px;
    }

    .form-div .row select option {
        font-weight: var(--fw-lg);
    }

    .tble-dpd .checkdrp {
        font-size: 12px !important;
        padding: 5px !important;
    }

    .form-div .row .dropdown-menu,
    .tble-dpd .dropdown-menu {
        color: var(--primary);
        border: 1px solid var(--input-border);
    }

    .dropdown-menu label {
        font-size: 9px !important;
        font-weight: 500 !important;
        color: var(--main) !important;
    }

    .inpflex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--input-border);
        border-radius: 0.375rem;
    }

    .inpflex input {
        width: 89%;
        border-right: 1px solid var(--input-border) !important;
        border-radius: 0.375rem 0px 0px 0.375rem;
    }

    .inpflex i {
        width: 11%;
        text-align: center;
    }

    .inpflex select {
        width: 11%;
        text-align: left;
        background-color: var(--secondary) !important;
        font-size: 8px !important;
        padding: 2px 2px 2px 5px;
    }

    .inputs p {
        margin-top: 5px;
        margin-bottom: 0px !important;
        font-size: 10px;
        color: var(--primary);
    }

}

@media screen and (max-width: 767px) {

    .form-div {
        padding: 10px;
        border-radius: 5px;
        background-color: var(--secondary);
        border: 1px solid #eee;
        border-radius: 5px;
        /* box-shadow: var(--box-shadow); */
    }

    .form-div .row label {
        color: var(--label);
        font-size: 14px;
        font-weight: var(--fw-lg);
        margin-bottom: 5px;
    }

    .form-div .row input,
    .form-div .row select,
    .form-div .row textarea,
    .form-div .row .checkdrp {
        border: 1px solid var(--input-border);
        color: var(--primary);
        font-size: 13px;
        font-weight: var(--fw-md);
    }

    .form-div .row small {
        font-size: 10px;
        margin-top: 3px;
    }

    form .inputs {
        display: block;
        margin: auto;
    }

    .tble-dpd .checkdrp {
        font-size: 11px !important;
        padding: 5px !important;
    }

    .form-div .row .dropdown-menu,
    .tble-dpd .dropdown-menu {
        color: var(--primary);
        border: 1px solid var(--input-border);
    }

    .dropdown-menu label {
        font-size: 10px !important;
        font-weight: 500 !important;
        color: var(--main) !important;
    }

    .inpflex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--input-border);
        border-radius: 0.375rem;
    }

    .inpflex input {
        width: 85%;
        border-right: 1px solid #000 !important;
        border-radius: 0.375rem 0px 0px 0.375rem;
    }

    .inpflex i {
        width: 15%;
        text-align: center;
    }

    .inpflex select {
        width: 15%;
        text-align: left;
        background-color: var(--secondary) !important;
        font-size: 10px !important;
        padding: 2px 2px 2px 5px;
    }

    .inputs p {
        margin-top: 5px;
        margin-bottom: 0px !important;
        font-size: 10px;
        color: var(--primary);
    }

}