html,
body {
    /* background: linear-gradient(180deg, rgba(35, 31, 32, 1) 0%, rgba(50, 49, 49, 1) 50%, rgba(35, 31, 32, 1) 100%); */
    background: url('../images/login_bg4.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
}

.form-structor {
    box-shadow: 5px 20px 50px #000;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: radial-gradient(circle, rgba(49, 16, 47, 1) 0%, rgba(39, 13, 38, 1) 55%, rgba(23, 9, 22, 1) 100%);
    /* background: radial-gradient(circle, rgba(71,24,68,1) 0%, rgba(66,16,64,1) 55%, rgba(54,18,52,1) 100%); */
}

.form-structor::after {
    content: '';
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    transition: all 0.8s ease;
}

.login {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 5;
    transition: all 0.8s ease;
}

.login::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0);
    background-color: #fff;
    width: 200%;
    height: 250px;
    border-radius: 50%;
    z-index: 4;
    transition: all 0.8s ease;
}

.login .center {
    position: absolute;
    top: calc(50% - 10%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 5;
    transition: all 0.8s ease;
}

.login .center .form-title {
    color: #000;
    font-size: 1.7em;
    text-align: center;
}

.login .center .form-title span {
    color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
}

.login .center .form-holder {
    border-radius: 15px;
    background-color: #fff;
    margin-top: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease;
}

.login .center .form-holder .input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}

.login .center .form-holder .input:last-child {
    border-bottom: 0;
}

.login .center .form-holder .input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.login .center .submit-btn {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #603F8E;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.login .center .submit-btn:hover {
    transition: all 0.8s ease;
    background-color: #493781;
}

.login.slide-up {
    top: 90%;
    transition: all 0.8s ease;
}

.login.slide-up .center {
    top: 10%;
    transform: translate(-50%, 0%);
    transition: all 0.8s ease;
}

.login.slide-up .form-holder,
.login.slide-up .submit-btn {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
}

.login.slide-up .form-title {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 0.8s ease;
}

.form-control {
    border: 1px solid #21242730;
    border-radius: 0.375rem;
}

.inpflex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #21242730;
    border-radius: 0.375rem;
}

.inpflex input {
    width: 85%;
    border-right: 1px solid #21242730 !important;
    border-radius: 0.375rem 0px 0px 0.375rem;
}

.inpflex i {
    width: 15%;
    text-align: center;
}

/* Loader */
/* .form-structor {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 999;
} */

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    /* background: linear-gradient(to right, #2c5364, #203a43, #0f2027); */
    background-color: #F4F4F4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
    z-index: 999;
}

#svg {
    height: 250px;
    width: 250px;
    stroke: #111317;
    stroke-width: 0.5px;
    stroke-dasharray: 500;
    animation: draw 8s ease;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 500;
        fill-opacity: 0;
    }

    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
        stroke: transparent;
    }
}