.table tr:nth-child(odd) td {
    background-color: transparent !important;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.timelinecards::-webkit-scrollbar {
    display: none;
}

.timeline {
    width: 100%;
    position: relative;
}

/* .timeline.has-completed:before {
    background: var(--main);
} */

/* Progress Bar */
.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.linear-progress {
    position: relative;
    width: 80%;
    height: 5px;
    background-color: #ededed;
    border-radius: 10px;
}

.progress-bar {
    position: absolute;
    height: 100%;
    background-color: #5577FF;
    border-radius: 5px;
}

.progress-value {
    font-size: 12px;
    font-weight: var(--fw-md);
    color: var(--tdata);
    text-align: center;
}

@media screen and (min-width: 1550px) {

    /* Timeline */
    .timelinecards {
        height: 55vh;
        overflow-y: auto;
        margin-top: 10px;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(1.2%);
        bottom: 0;
        width: 4px;
        background: #DADADA;
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 5%;
        text-align: left;
        position: relative;
    }

    .entry.completed .title:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../images/tick.png');
        border: 2px solid var(--main);
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        top: 18.5%;
        left: 2%;
        z-index: 99;
    }

    .entry:not(.completed) .title:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 18.5%;
        left: 2%;
        z-index: 99;
    }

    .entry .title h3 {
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: var(--fw-lg);
        color: var(--primary);
    }

    .entry .title h6 {
        margin-bottom: 0px;
        margin-top: 5px;
        font-size: 12px;
        color: var(--label);
    }

    .entry .entrybody {
        margin-bottom: 15px;
        float: right;
        width: 95%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    /* Task Card CSS */
    .taskct {
        display: grid;
        grid-template-columns: 50% 45%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .taskname h4 {
        font-weight: var(--fw-xl);
        font-size: 15px;
        color: var(--main);
    }

    .taskname h5 {
        font-weight: var(--fw-md);
        font-size: 12px;
        color: var(--main);
    }

    .taskname h6 {
        font-weight: var(--fw-sm);
        font-size: 12px;
        color: var(--label);
    }

    .taskdate {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .taskdate .startdate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: var(--label);
    }

    .taskdate .enddate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: #ff0000;
    }

    .taskimg {
        display: grid;
        justify-content: end;
        align-items: center;
        /* gap: 5px; */
        /* grid-template-columns: repeat(5, 1fr); */
        grid-auto-flow: column;
        grid-auto-columns: minmax(20%, auto);
    }

    .taskimg img {
        height: 60px;
        display: block;
        margin-left: auto;
        border-radius: 5px;
    }

}

@media screen and (min-width:1400px) and (max-width: 1550px) {

    /* Timeline */
    .timelinecards {
        height: 55vh;
        overflow-y: auto;
        margin-top: 10px;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(1.2%);
        bottom: 0;
        width: 4px;
        background: #DADADA;
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 5%;
        text-align: left;
        position: relative;
    }

    .entry.completed .title:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../images/tick.png');
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        top: 18.5%;
        left: 2%;
        z-index: 99;
    }

    .entry:not(.completed) .title:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 18.5%;
        left: 2%;
        z-index: 99;
    }

    .entry .entrybody {
        margin-bottom: 15px;
        float: right;
        width: 95%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    /* Task Card CSS */
    .taskct {
        display: grid;
        grid-template-columns: 50% 45%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .taskname h4 {
        font-weight: var(--fw-xl);
        font-size: 15px;
        color: var(--main);
    }

    .taskname h5 {
        font-weight: var(--fw-md);
        font-size: 12px;
        color: var(--main);
    }

    .taskname h6 {
        font-weight: var(--fw-sm);
        font-size: 12px;
        color: var(--label);
    }

    .taskdate {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .taskdate .startdate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: var(--label);
    }

    .taskdate .enddate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: #ff0000;
    }

    .taskimg {
        display: grid;
        justify-content: end;
        align-items: center;
        grid-auto-flow: column;
        grid-auto-columns: minmax(23%, auto);
    }

    .taskimg img {
        height: 60px;
        display: block;
        margin-left: auto;
        border-radius: 5px;
    }

}

@media screen and (min-width:1300px) and (max-width: 1400px) {

    /* Timeline */
    .timelinecards {
        height: 55vh;
        overflow-y: auto;
        margin-top: 10px;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(1.2%);
        bottom: 0;
        width: 4px;
        background: #DADADA;
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 5%;
        text-align: left;
        position: relative;
    }

    .entry:not(.completed) .title:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 18.5%;
        left: 2%;
        z-index: 99;
    }

    .entry.completed .title:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        background-image: url('../images/tick.png');
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        top: 18.5%;
        left: 2%;
        z-index: 99;
    }

    .entry .title h3 {
        margin-bottom: 0px;
        font-size: 12px;
        font-weight: var(--fw-lg);
        color: var(--primary);
    }

    .entry .title h6 {
        margin-bottom: 0px;
        margin-top: 5px;
        font-size: 10px;
        color: var(--label);
    }

    .entry .entrybody {
        margin-bottom: 15px;
        float: right;
        width: 95%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    /* Task Card CSS */
    .taskct {
        display: grid;
        grid-template-columns: 50% 45%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .taskname h4 {
        font-weight: var(--fw-xl);
        font-size: 14px;
        color: var(--main);
    }

    .taskname h5 {
        font-weight: var(--fw-md);
        font-size: 11px;
        color: var(--main);
    }

    .taskname h6 {
        font-weight: var(--fw-sm);
        font-size: 11px;
        color: var(--label);
    }

    .taskdate {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .taskdate .startdate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: var(--label);
    }

    .taskdate .enddate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: #ff0000;
    }

    .taskimg {
        display: grid;
        justify-content: end;
        align-items: center;
        grid-auto-flow: column;
        grid-auto-columns: minmax(20%, auto);
    }

    .taskimg img {
        height: 50px;
        display: block;
        margin-left: auto;
        border-radius: 5px;
    }

}

@media screen and (min-width:850px) and (max-width: 1300px) {

    /* Timeline */
    .timelinecards {
        height: 55vh;
        overflow-y: auto;
        margin-top: 10px;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(1.2%);
        bottom: 0;
        width: 4px;
        background: #DADADA;
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 5%;
        text-align: left;
        position: relative;
    }

    .entry:not(.completed) .title:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 20%;
        left: 2%;
        z-index: 99;
    }

    .entry.completed .title:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        background-image: url('../images/tick.png');
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        top: 20%;
        left: 2%;
        z-index: 99;
    }

    .entry .title h3 {
        margin-bottom: 0px;
        font-size: 12px;
        font-weight: var(--fw-lg);
        color: var(--primary);
    }

    .entry .title h6 {
        margin-bottom: 0px;
        margin-top: 5px;
        font-size: 10px;
        color: var(--label);
    }

    .entry .entrybody {
        margin-bottom: 15px;
        float: right;
        width: 95%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    /* Task Card CSS */
    .taskct {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .taskname h4 {
        font-weight: var(--fw-xl);
        font-size: 12px;
        color: var(--main);
    }

    .taskname h5 {
        font-weight: var(--fw-md);
        font-size: 10px;
        color: var(--main);
    }

    .taskname h6 {
        font-weight: var(--fw-sm);
        font-size: 10px;
        color: var(--label);
    }

    .taskdate {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .taskdate .startdate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: var(--label);
    }

    .taskdate .enddate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: #ff0000;
    }

    .taskimg {
        display: grid;
        justify-content: end;
        align-items: center;
        grid-auto-flow: column;
        grid-auto-columns: minmax(24%, auto);
        row-gap: 5px;
    }

    .taskimg img {
        height: 45px;
        border-radius: 5px;
    }

}

@media screen and (min-width:767px) and (max-width: 850px) {

    /* Timeline */
    .timelinecards {
        height: 55vh;
        overflow-y: auto;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(1.2%);
        bottom: 0;
        width: 4px;
        background: #DADADA;
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 5%;
        text-align: left;
        position: relative;
    }

    .entry:not(.completed) .title:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 20%;
        left: 2%;
        z-index: 99;
    }

    .entry.completed .title:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background-image: url('../images/tick.png');
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        top: 20%;
        left: 2%;
        z-index: 99;
    }

    .entry .entrybody {
        margin-bottom: 15px;
        float: right;
        width: 95%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    /* Task Card CSS */
    .taskct {
        display: grid;
        grid-template-columns: 50% 45%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .taskname h4 {
        font-weight: var(--fw-xl);
        font-size: 11px;
        color: var(--main);
    }

    .taskname h5 {
        font-weight: var(--fw-md);
        font-size: 9px;
        color: var(--main);
    }

    .taskname h6 {
        font-weight: var(--fw-sm);
        font-size: 9px;
        color: var(--label);
    }

    .taskdate {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .taskdate .startdate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: var(--label);
    }

    .taskdate .enddate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: #ff0000;
    }

    .taskimg {
        display: grid;
        justify-content: end;
        align-items: center;
        grid-auto-flow: column;
        grid-auto-columns: minmax(25%, auto);
    }

    .taskimg img {
        height: 40px;
        border-radius: 5px;
    }

}

@media screen and (max-width:767px) {

    /* Timeline */
    .timelinecards {
        height: 55vh;
        overflow-y: auto;
        padding: 0px !important;
        margin-bottom: 10px;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 1%;
        left: calc(2.5%);
        bottom: 0;
        width: 4px;
        background: #DADADA;
    }

    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }

    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }

    .entry .title {
        margin-bottom: .5em;
        float: left;
        width: 3%;
        text-align: left;
        position: relative;
    }

    .entry:not(.completed) .title:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border: 5px solid var(--main);
        background-color: var(--secondary);
        border-radius: 100%;
        top: 20%;
        left: 0%;
        z-index: 99;
    }

    .entry.completed .title:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        background-image: url('../images/tick.png');
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        top: 20%;
        left: 0%;
        z-index: 99;
    }

    .entry .entrybody {
        margin-bottom: 15px;
        float: right;
        width: 95%;
        border-radius: 4px;
        padding: 0px 10px 10px 10px;
    }

    /* Task Card CSS */
    .taskct {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        margin-bottom: 10px;
    }

    .taskname h4 {
        font-weight: var(--fw-xl);
        font-size: 13px;
        color: var(--main);
    }

    .taskname h5 {
        font-weight: var(--fw-md);
        font-size: 10px;
        color: var(--main);
    }

    .taskname h6 {
        font-weight: var(--fw-sm);
        font-size: 10px;
        color: var(--label);
    }

    .taskdate {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .taskdate .startdate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: var(--label);
    }

    .taskdate .enddate {
        font-size: 10px;
        font-weight: var(--fw-md);
        color: #ff0000;
    }

    .taskimg {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }

    .taskimg img {
        height: 40px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

}