body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@page {
    margin: 5px;
}

.overall {
    position: relative;
    min-height: 1110px;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.header {
    border-bottom: 1px solid #000;
}

.brdr {
    width: 1px;
    height: 100%;
    background-color: #000;
    display: flex;
    margin: auto;
}

.headerleft h5 {
    font-weight: var(--fw-xl);
    font-size: 12px;
    color: #000;
    margin-bottom: 2px;
}

.headerleft h6 {
    font-weight: 500;
    font-size: 11px !important;
    color: #565656;
}

.headerright h5 {
    font-weight: var(--fw-lg);
    font-size: 10px !important;
    color: #565656;
}

.headerright h6 {
    font-weight: 500;
    font-size: 10px !important;
    color: #000;
}

.centerhead {
    background-color: #eee;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.centerhead h5 {
    font-weight: 700 !important;
    font-size: 13px !important;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.table thead th,
.table tbody th {
    font-weight: var(--fw-xl);
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
}

.table tbody td {
    font-weight: 500;
    font-size: 11px;
    color: #000;
}

.footct h6 {
    font-size: 13px;
    font-weight: var(--fw-xl);
    text-transform: uppercase;
}

.table>:not(caption)>*>* {
    padding: .25rem .5rem;
}